<ul class="menu">
  <li class="menu-item" routerLinkActive="active">
    <a [routerLink]="['/app']" class="menu-link" (click)="closeMenu()"><i class="fa fa-home"></i> Home</a>
  </li>

  <li class="menu-item" routerLinkActive="active">
    <a [routerLink]="['/features']" class="menu-link" (click)="closeMenu()"><i class="fa fa-cogs"></i> Features</a>
  </li>

  <li class="menu-item" routerLinkActive="active">
    <a [routerLink]="['/about']" class="menu-link" (click)="closeMenu()"><i class="fa fa-info"></i> About</a>
  </li>
</ul>
