$primary-color: #FF584F;
$background-color: rgb(249, 248, 247);
$alternative-background-color: rgb(134, 134, 134);

$header-height: 54px;
$footer-height: 50px;

$sidebar-width: 230px;
$sidebar-transition-duration: 0.133s;
$sidebar-easing: ease-in-out;
$sidebar-transition: transform $sidebar-transition-duration $sidebar-easing;

// BS4 customization
$enable-rounded: false;

$brand-primary: $primary-color;
$brand-inverse: $primary-color;
